---
import "../styles/global.scss"

import BaseHead from "../components/BaseHead.astro"
import Navbar from "../components/Navbar.astro"
import Tag from "../components/Tag.astro"
import PostFrontmatter from "../util/PostFrontmatter"
import WaveDivider from "../components/WaveDivider.astro"

export interface Props {
    content: PostFrontmatter
}

const { content: { title, description, tags } } = Astro.props as Props
---

<style lang="scss" is:global>
    @use "../styles/variables.scss" as *;

    main {
        margin-top: 1.75rem;
        margin: 0 auto;
        max-width: 50rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tag-container {
        margin-bottom: -1.75rem;
    }

    .description {
        font-style: italic;
    }

    h1 {
        font-size: 2.5rem;
    }
</style>

<html lang="en">

<head>
    <BaseHead title={title} description={description} />
</head>

<body>
    <Navbar />
    <main>
        <header class="header">
            <h1>{title}</h1>
            <p class="description">{description}</p>
        </header>

        <div class="tag-container">
            {tags.map(tag =>
            <Tag tag={tag} />)}
        </div>
        <article>
            <slot />
        </article>
    </main>
</body>

</html>