<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soundbites</title>
    <link rel="stylesheet" href="/assets/common.css">
    <script defer src="../assets/js/common.js"></script>
</head>
<body>
    <%- include("common/navbar") %>
    <%- include("common/theme_toggle") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1>welcome.</h1>
            <p>soundbites analyzes music from all kinds of genres - rap, classical, jazz, pop. If you can name it, we're talking about it.</p>
            <p>We report on the latest news and songs in music weekly. Create an account to comment on and rate our articles!</p>
            <% if(!isLoggedIn) { %>
                <a href="account/register" class="navbar-link">join us today</a>
            <% } %>
        </div>
        <hr class="wave-divider">
        <div class="container fadein-left">
            <h2 class="title" style="text-align: center; padding-bottom: 20px">our latest headlines</h2>
            <div id="container">
                <% posts.map(post => { %>
                    <a class="block-link" href="posts/<%= post.slug %>">
                        <div class="latest-headline">
                            <p><%= post.title %></p>
                            <p id="authorInfo">By <strong><%= post.author %></strong> on <%= post.date %></p>
                            <p id="desc"><%= post.description %></p>
                        </div>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>