<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %> - soundbites</title>
    <link rel="stylesheet" href="/assets/common.css">
    <script src="../assets/js/comment.js" defer></script>
    <script defer src="../assets/js/common.js"></script>
</head>
<body>
    <%- include("common/navbar") %>
    <%- include("common/theme_toggle") %>

    <div class="main-content fadein-left">
        <div class="container">
            <h1><%= data.title %> </h1>
            <h3>By <a href="../users/<%=data.author%>"><%= data.author %></a> on <i><%= data.date %></i></h3>
        <div>
        <div class="post-content container">
            <%- data.html %>
        </div>
        <div class="container">
            <h3>comments</h3>
            <% if (!comments.length) { %>
                <p><i>This post has no comments.</i></p>
            <% } else {%>
                <% comments.map(comment => { %>
                    <div class="comment">
                        <div class="username-and-date">
                            <p id="p">
                                <a class="navbar-link" href="../users/<%=comment.author%>">
                                    <img class="avatar-small" src="data:<%=comment.avatar.imgType%>;base64,<%=comment.avatar.imgData.toString('base64')%>">
                                    <%= comment.authorDisplay %></a>
                                <p class="comment-date"><%= comment.date %></p>
                            </p>
                        </div>
                        <p class="comment-content"><%= comment.content %></p>
                    </div>
                <% }) %>
            <% } %>
        </div>
        <div class="container">
            <form id="login-form">
                <h3>comment on this post</h3>
                <p id="invalid"></p>
                <textarea class="input" id="content" placeholder="submit a comment"></textarea>
                <br>
                <input class="submit" type="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>