<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/common.css">
    <script defer src="../assets/js/common.js"></script>
    <title>profile - music blog</title>
</head>
<body>
    <%- include("common/navbar") %>
    <%- include("common/theme_toggle") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1 id="title"><%= data.username %>'s profile</h1>
            <div id="avatar-title-container">
                <% if(data.avatar?.imgData == null) { %>
                    <img id="avatar" src="../assets/default-photo.png">
                <% } else { %>
                    <img id="avatar" src="data:<%=data.avatar.imgType%>;base64,<%=data.avatar.imgData.toString('base64')%>">
                    <div id="user-details"></div>
                <% } %>
            </div>
            <%- include("common/user_details", {data}) %>
            <a id="change-settings" class="navbar-link" href="/account/settings">change settings</a><a id="logout" class="navbar-link" href="../account/logout">log out</a>
        </div>
    </div>
</body>
</html>