<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/common.css">

    <script src="../assets/js/settings.js" defer></script>

    <title>settings - soundbites</title>
</head>
<body>
    <%- include("./common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <form id="settings">
                <h1>settings</h1>
                <p id="invalid"></p>
                <h3>new username</h3>
                <input class="input" type="text" id="username" placeholder="<%=data.username%>">
                <h3>new display name</h3>
                <input class="input" type="text" id="display" placeholder="<%=data.displayName%>">
                <h3>bio</h3>
                <textarea class="input" id="content" placeholder="<%=data.bio%>"></textarea>
                <br>
                <h3>avatar</h3>
                <input id="file-upload" type="file">
                <br>
                <br>
                <input class="submit" type="submit" value="submit" name="avatar">
                <p>Once you change your username it will be available for anyone to take. If someone else takes it, you won't get it back.</p>
                <p><input type="checkbox" id="checkbox"> I understand</p>
            </form>            
        </div>
        <%- include("common/theme_toggle") %>
    </div>
</body>
</html>