<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/common.css">
    <title><%= data.username %>'s profile - music blog</title>
</head>
<body>
    <%- include("common/navbar") %>
    <div class="main-content">
        <div class="container fadein-left">
            <h1 id="title"><%= data.username %>'s profile</h1>
            <div id="avatar-title-container">
                <img id="avatar" src="data:<%=data.avatar.imgType%>;base64,<%=data.avatar.imgData.toString('base64')%>">
                <div id="user-details"><%- include("common/user_details", {data}) %></div>
            </div>
        </div>
        <!-- probably add some extra content here like recent comments (or if an author, posts) -->
    </div>
</body>
</html>