<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/common.css">
    <script defer src="../assets/js/common.js"></script>
    <title><%= data.username %>'s profile - music blog</title>
</head>
<body>
    <%- include("common/navbar") %>

    <div class="main-content">
        <div class="container fadein-left">
            <h1 id="title"><%= data.username %>'s profile</h1>
            <div id="avatar-title-container">
                <% if(data.avatar == null) { %>
                    <img id="avatar" src="../assets/default-photo.png">
                <% } else { %>
                    <img id="avatar" src="../<%=data.avatar%>">
                <% } %>
                <div id="user-details"><%- include("common/user_details", {data}) %></div>
            </div>
        </div>
        <% if(data.author) { %>
            <hr class="wave-divider">
            <br>
        <div class="container fadein-left">
            <h2>articles <%=data.displayName%> has written</h2>
            <div id="container">
                <% data.posts.map(post => { %>
                    <a class="block-link" href="/posts/<%= post.slug %>">
                        <div class="latest-headline">
                            <p><%= post.title %></p>
                            <p id="authorInfo">By <strong><%= data.username %></strong> on <%= post.date %></p>
                            <p id="desc"><%= post.description %></p>
                        </div>
                    </a>
                <% }) %>
            </div>
        <% } %>
        </div>
        <%- include("common/theme_toggle") %>
        <!-- probably add some extra content here like recent comments (or if an author, posts) -->
    </div>
</body>
</html>